
@{
    ViewBag.Title = "Services";
}

<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Traversal Travel Category Bootstrap Responsive Template | Destinations </title>
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap"
          rel="stylesheet">
    <!-- google fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/assets/css/style-liberty.css">
    <!-- Template CSS -->
</head>

<body>
    <!--header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg stroke">
                <h1>
                    <a class="navbar-brand mr-lg-5" href="~/Default/Index">
                        Seyahatler
                    </a>
                </h1>
                <!-- if logo is image enable this
                <a class="navbar-brand" href="#index.html">
                    <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                </a> -->
                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                        data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                    </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="~/Default/Index">Ana Sayfa <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Default/About">Hakkımızda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Default/Services">Varış Noktaları</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Default/Contact">İletişim</a>
                        </li>
                    </ul>
                </div>
                <div class="d-lg-block d-none">
                    <a href="~/Default/Contact" class="btn btn-style btn-secondary">Temasta Kalın</a>
                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="mobile-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!-- //header -->
    <!-- about breadcrumb -->
    <section class="w3l-about-breadcrumb text-left">
        <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
            <div class="container">
                <h2 class="title">Varış Noktaları </h2>
                <ul class="breadcrumbs-custom-path mt-2">
                    <li><a href="#url">Ana Sayfa</a></li>
                    <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Varış Noktaları </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //about breadcrumb -->
    <!--  Work gallery section -->
    <section class="grids-1 py-5">
        <div class="grids py-lg-5 py-md-4">
            <div class="container">
                <h3 class="hny-title mb-5">Varış Noktaları</h3>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-6">
                        <div class="column">
                            <a href="#"><img src="~/assets/images/g1.jpg" alt="" class="img-fluid"></a>
                            <div class="info">
                                <h4><a href="#">Paris</a></h4>
                                <p>3 Gün, 4 Gece </p>
                                <div class="dst-btm">
                                    <h6 class="">Başlangıç Fiyatı </h6>
                                    <span>25.000 TL</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6 mt-md-0">
                        <div class="column">
                            <a href="#"><img src="~/assets/images/g2.jpg" alt="" class="img-fluid"></a>
                            <div class="info">
                                <h4><a href="#">Bangok</a></h4>
                                <p>3 Gün, 4 Gece </p>
                                <div class="dst-btm">
                                    <h6 class="">Başlangıç Fiyatı </h6>
                                    <span>10.500 TL</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6 mt-md-0 mt-4">
                        <div class="column">
                            <a href="#"><img src="~/assets/images/g3.jpg" alt="" class="img-fluid"></a>
                            <div class="info">
                                <h4><a href="#">Maldivler</a></h4>
                                <p>3 Gün, 4 Gece </p>
                                <div class="dst-btm">
                                    <h6 class="">Başlangıç Fiyatı </h6>
                                    <span>29.000 TL</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6 mt-lg-5 mt-4">
                        <div class="column">
                            <a href="#"><img src="~/assets/images/g4.jpg" alt="" class="img-fluid"></a>
                            <div class="info">
                                <h4><a href="#">Yunanistan</a></h4>
                                <p>3 Gün, 4 Gece</p>
                                <div class="dst-btm">
                                    <h6 class=""> Başlangıç Fiyatı </h6>
                                    <span>19.000 TL</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6 mt-lg-5 mt-4">
                        <div class="column">
                            <a href="#"><img src="~/assets/images/g5.jpg" alt="" class="img-fluid"></a>
                            <div class="info">
                                <h4><a href="#">Londra</a></h4>
                                <p>3 Gün, 4 Gece</p>
                                <div class="dst-btm">
                                    <h6 class=""> Başlangıç Fiyatı </h6>
                                    <span>15.000 TL</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6 mt-lg-5 mt-4">
                        <div class="column">
                            <a href="#"><img src="~/assets/images/g6.jpg" alt="" class="img-fluid"></a>
                            <div class="info">
                                <h4><a href="#">Julian Alpleri</a></h4>
                                <p>3 Gün, 4 Gece</p>
                                <div class="dst-btm">
                                    <h6 class=""> Başlangıç Fiyatı </h6>
                                    <span>23.000 TL</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6 mt-lg-5 mt-4">
                        <div class="column">
                            <a href="#"><img src="~/assets/images/g7.jpg" alt="" class="img-fluid"></a>
                            <div class="info">
                                <h4><a href="#">Tayland</a></h4>
                                <p>3 Gün, 4 Gece</p>
                                <div class="dst-btm">
                                    <h6 class=""> Başlangıç Fiyatı </h6>
                                    <span>22.250 TL</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6 mt-lg-5 mt-4">
                        <div class="column">
                            <a href="#"><img src="~/assets/images/g8.jpg" alt="" class="img-fluid"></a>
                            <div class="info">
                                <h4><a href="#">Singapur</a></h4>
                                <p>3 Gün, 4 Gece</p>
                                <div class="dst-btm">
                                    <h6 class=""> Başlangıç Fiyatı </h6>
                                    <span>18.000 TL</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6 mt-lg-5 mt-4">
                        <div class="column">
                            <a href="#"><img src="~/assets/images/g9.jpg" alt="" class="img-fluid"></a>
                            <div class="info">
                                <h4><a href="#">Mısır</a></h4>
                                <p>3 Gün, 4 Gece</p>
                                <div class="dst-btm">
                                    <h6 class=""> Başlangıç Fiyatı </h6>
                                    <span>28.500 TL</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


